<!DOCTYPE html>
<html>
  <head>
    <title>Cadenze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <script type="text/javascript">
      window.blackLogoURL = "<%= image_url('Spotify_Icon_RGB_Black.png') %>"
      window.whiteLogoURL = "<%= image_url('Spotify_Icon_RGB_White.png') %>"
      window.bubblesURL = "<%= image_url('background-bubbles.svg') %>"
      window.playBtn = "<%= image_url('btn-play_video.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
